body{

    background-color:cornflowerblue;
}

form {
    border: 2px  #f1f1f1;
    border-radius: 2px;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    background-color:white;
    
  }
.giriş-email{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  h2{

    text-align: center;
  }

  button {
    background-color:deepskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 30px;
  }

  .error {
    color: #FF0000;
  }